@import "./header.css";

.header {
  width: 100%;
  padding-bottom: 79px;
}
.header_nav-top {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(40, 40, 40, 1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.header_nav-top a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

.header_nav-top a:hover {
  color: rgb(72, 72, 229);
}

.header_nav-top a:active {
  top: 2px;
}

.header_nav-top-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header_logo {
  width: 31.92px;
  height: 29.81px;
  color: rgba(255, 255, 255, 1);
}
.nav-top-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header_nav-top-right {
  display: flex;
  align-items: center;
}
.header_nav-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11%;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.header_nav-bottom a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  position: relative;
}

.header_nav-bottom a:hover {
  color: blue;
}

.header_nav-bottom a:active {
  top: 2px;
}

.header_nav-bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;
  padding-left: 1%;
}

.header_nav-bottom-text:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 1);
}

.header_item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 78px;
}

.header_item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 31px;
}

.header_item_1 {
  display: flex;
  justify-content: flex-start;
  color: #000;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.item_2,
.header_item-left {
  width: 685px;
  height: 685px;
}
.header_item_3 {
  display: flex;
}

.header_item_4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--Light-black, #101010);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}

.item_4-bottom a {
  display: flex;
  position: relative;
  text-decoration: none;
  color: #101010;
}

.item_4-bottom a:active {
  top: 2px;
}

.item_4-bottom a:hover {
  color: blue;
}

.item_4-bottom p {
  margin-right: 15px;
}

.header_item_5 {
  width: 279px;
  height: 279px;
}
