@import "./header.css";

body{
	display: flex;
	justify-content: center;
	margin-top: 1%;
}

.wrapper {
  width: 100vw;
  max-width: 1600px;
  min-width: 600px;
  height: 0 auto;
  background-color: antiquewhite;
}

.container {
  width: 80%;
  max-width: 1400px;
  max-height: 685px;
  margin: 0 auto;
}
