/* second_screen */

.second_screen {
  width: 994px;
  height: 433px;
  display: flex;
  margin: 127px 0;
}

.second_screen img {
  margin-right: 30px;
}

.second_screen-text1 {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.second_screen-text2 {
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  margin-bottom: 195px;
}

.second_screen-text3 a {
  display: flex;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
#text3 {
  margin-right: 5px;
}

.second_screen-text3 a {
  position: relative;
  text-decoration: none;
}

.second_screen-text3 img {
  width: 15.578px;
}

.second_screen-text3 a:hover {
  color: blue;
}

.second_screen-text3 a:active {
  top: 2px;
}

.video1 {
  width: 1400px;
  margin-bottom: 127px;
}

/* news_text */

.news_text1 {
  width: 1400px;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 20px;
}

.news_text2 {
  border-bottom: solid 1px #afafae;
}

.news_image {
  display: flex;
}

.news_image1 img {
  padding: 36px 13px 26px 0;
}

.news_image2 img {
  padding: 36px 0 26px 13px;
}

.news_image2 p {
  padding-left: 13px;
}

.news_text3 {
  border-right: solid 1px #afafae;
}

.news_text4 {
  width: 1400px;
  height: 127px;
  border-top: solid 1px #afafae;
}

.news_image p {
  color: #101010;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

/* window */

.window {
  width: 1400px;
  display: flex;
  justify-content: center;
  margin-bottom: 128px;
}

.window img {
  width: 684px;
  height: 586px;
  flex-shrink: 0;
  margin-right: 31px;
}

.window_text {
  display: flex;
  flex-direction: column;
}

.window_text-1 {
  width: 687px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 51px;
}

.window_text-1 p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.window_text-2 {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 17px;
}

.window_text-3 {
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  padding-bottom: 169px;
}

.window_text-4 {
  display: flex;
  gap: 4px;
}

.window_text-4 a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.window_text-4 a:hover {
  color: blue;
}

.window_text-4 a:active {
  top: 2px;
}

/* office */

.office {
  width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.office_text1 {
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.office_text-left {
  width: 432px;
  height: 34px;
  color: #101010;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.office_text-right {
  color: #101010;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.office_text2,
.office_text3,
.office_text4,
.office_text5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 48px;
}

.office_text-middle {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.office_text-middle_top {
  color: #101010;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.office_text-middle_bottom {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
}

.office_text6 {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 127px;
}

.office_text6 a {
  position: relative;
  color: #000;
  font-family: Inter;
  font-size: 15.006px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 10px;
}

.office_text6 a:hover {
  color: blue;
}

.office_text6 a:active {
  top: 2px;
}

/* reviews */

.reviews {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.reviews p {
  padding-bottom: 20px;
}

.reviews_gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews_gallery {
  padding-bottom: 127px;
}

.reviews_text p {
  width: 420px;
  padding: 0 57px 150px 0;
  color: #101010;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
}

.reviews_text-arrow svg {
  padding-right: 35px;
}

.reviews_text-arrow a {
  position: relative;
  text-decoration: none;
}

.reviews_text-arrow a:active {
  top: 2px;
}

.reviews_img1 {
  width: 447px;
  padding-right: 30px;
}

.reviews_img1 img {
  padding-bottom: 15px;
}

.reviews_img2 {
  width: 446px;
}

.reviews_img2 img {
  padding-bottom: 15px;
}

.reviews_img-text1 {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.reviews_img-text2 {
  color: #000;
  opacity: 0.5;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.13px;
}

/* promotion */

.promotion p,
.order p {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.promotion_text {
  display: flex;
  padding-bottom: 127px;
}

.promotion_text img {
  width: 45px;
  height: 45px;
  padding-bottom: 38px;
}

.promotion_text1 {
  width: 420px;
  color: #101010;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  padding-right: 56px;
}

.promotion_text2,
.promotion_text3,
.promotion_text4,
.promotion_text5 {
  display: flex;
  flex-direction: column;
}

.promotion_text2 {
  width: 196px;
  padding-right: 26px;
}

.promotion_text3 {
  width: 190px;
  padding-right: 65px;
}

.promotion_text4 {
  width: 199px;
  padding-right: 40px;
}

.promotion_text5 {
  width: 184px;
}

.promotion_text2 p,
.promotion_text3 p,
.promotion_text4 p,
.promotion_text5 p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.promotion_text a {
  position: relative;
}
.promotion_text a:active {
  top: 2px;
}

/* form */

.form {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.form_text {
  width: 603px;
  height: 48px;
  color: #101010;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-right: 110px;
}

.form_submit {
  width: 542px;
}

.form_submit-bootom {
  display: flex;
  row-gap: 15px;

  font-family: Inter;
  font-size: 18.007px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.form_submit-bootom a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.form_submit-bootom a:hover {
  color: blue;
}

.form_submit-bootom a:active {
  top: 2px;
}

.form_submit-top p {
  color: #acabab;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 38px;
}

.form_submit-top form {
  display: flex;
  flex-direction: column;
}

#name,
#tel,
#comments,
#office {
  color: #757575;
  margin-bottom: 36px;
  border: none;
  border-bottom: 1px solid #7d7d7c;
  background-color: #fbfaf9;
}

/* footer */

footer {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 127px;
}

footer a {
  text-decoration: none;
  color: #000;
}

.footer_text1 {
  width: 561px;
  height: 292px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  border-top: 1px solid #7d7d7c;
  border-right: 1px solid #7d7d7c;
}

.footer_text1-top {
  margin-left: 101px;
  margin-top: 78px;
  margin-bottom: 70px;
}

.footer_text1-bottom {
  margin-bottom: 68px;
  margin-left: 101px;
}

.footer_text2 {
  width: 479px;
  height: 292px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  border-top: 1px solid #7d7d7c;
  border-right: 1px solid #7d7d7c;
}

.footer_text2 p {
  margin-left: 16px;
  margin-top: 78px;
}

.footer_text3 {
  width: 560px;
  height: 292px;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  border-top: 1px solid#7D7D7C;
}

.footer_text3 p {
  margin-left: 13px;
  margin-top: 78px;
}
